<section class="contenedor flex w-100 py-6 px-3">
    <section class="w-100">
        <section class="flex space-between py-2">
            <section class="flex jc-center">
                <p class="mr-2">Términos de uso</p>
                <p>Política de privacidad</p>
            </section>

            <section class="flex jc-center">
                <p>Teléfono 235-2655</p>
            </section>
        </section>
        <hr>
        <p class="text-center py-2">©2024 Eventazo. Todos los Derechos Reservados.</p>
    </section>
</section>