<div class="contenedor">
  <div class="formulario">
    <h1 class="mb-5">Registrate</h1>
    <form (submit)="onSubmit()" method="post">
      <div class="flex">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
          <input type="text" id="name" name="name" [(ngModel)]="name"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" />
        </div>

        <div>
          <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900">Apellido</label>
          <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" />
        </div>
      </div>

      <div class="flex">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electrónico</label>
          <input type="email" id="email" name="email" [(ngModel)]="email"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" />
        </div>

        <div>
          <label for="id_rol" class="block mb-2 text-sm font-medium text-gray-900">Tipo de usuario</label>
          <select name="id_rol" id="id_rol" [(ngModel)]="id_rol">
            <option value="2" selected>Regular</option>
            <option value="3">Promotor</option>
          </select>
        </div>
      </div>

      <div class="flex">
        <div>          
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
          <div class="relative">
            <input type="password" id="password" name="password" [(ngModel)]="password" #passwordInput
              class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full pr-10" />
            <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash" (click)="viewPassword(passwordInput)"
              class="absolute top-1-2 transform -translate-y-1/2 right-3 cursor-pointer"></fa-icon>
          </div>
        </div>
        <div class="div-button">
          <button type="submit"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Enviar</button>
        </div>
      </div>
    </form>
    <label class="lbl-login">¿Ya tienes tu cuenta? <a href="/login">Incia sesión</a></label>
  </div>
</div>