<p-menubar [model]="navUser()" class="shadow">
    <ng-template pTemplate="start">
        <div class="ng-start">
            <img (click)="navHome()" src="../assets/logoticket.png" alt="logoticket">
        </div>
    </ng-template>

    <ng-template let-item pTemplate="item">
        <div class="ng-items">
            <a (click)="item.command?.()" pRipple class="flex align-items-center p-menuitem-link">
                <fa-icon *ngIf="item.icon" [icon]="getIcon(item.icon)" class="fa-icon mr-2"></fa-icon>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="ng-end">
            <div class="flex align-items-center gap-2">                
                <!-- <input type="text" id="eventos" name="eventos" placeholder="Buscar evento..." class="searchbar border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" /> -->

                <p-autoComplete [(ngModel)]="selectedEvent"
                    [suggestions]="filteredEvents"
                    (completeMethod)="search($event)"                    
                    [dropdown]="true"
                    placeholder="Buscar evento..."
                    class="searchbar border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                </p-autoComplete>

                <p-menu #menu [model]="opcUser()" [popup]="true" />
                <fa-icon [icon]="faCircleUser" class="fa-icon-user" (click)="menu.toggle($event)"></fa-icon>
            </div>
        </div>
    </ng-template>
</p-menubar>