<app-homecito (verEventosClicked)="scrollToCards()"></app-homecito>

<section class="cards p-3" #cardsSection>

  @if(loading) {
    @for (skeleton of [1, 2, 3, 4]; track skeleton) {
      <p-skeleton shape="rectangle" height="450px" width="360px" class="mb-2"></p-skeleton>
    }
  } @else {  
    @for(card of cards; track card.ID){
      @if(card.Status === 1 && userRol() === 2 || card.Status === 1 && userRol() === 0){
        <app-card 
          [ID]="card.ID" 
          [Nombre]="card.Nombre" 
          [Foto]="card.Foto" 
          [Lugar]="card.Lugar"
          [Dia_Hora_Inicio]="card.Dia_Hora_Inicio" 
          [disabled]="false" (buy)="buyEvent($event)">
        </app-card>
      }

      @if(card.ID_Promotor === userID()){
        @if(userRol() === 3){
          <app-card class="{{ (card.Status === 0) ? 'card-disabled' : (card.Status === 1) ? '' : 'card-rejected' }}"
            [ID]="card.ID" 
            [Nombre]="card.Nombre" 
            [Foto]="card.Foto" 
            [Lugar]="card.Lugar"
            [Dia_Hora_Inicio]="card.Dia_Hora_Inicio" 
            [disabled]="true" (buy)="buyEvent($event)">
          </app-card>
        }
      }
    }
  }

</section>