<section class="form-container">
  <div class="invoice">
    <div class="invoice-header">
      <h2>¡Muchas Gracias!</h2>
      <div class="checkmark"></div>
    </div>
    <div class="invoice-body">
      <p>Transacción ID: #{{ transactionId }}</p>
      <p>¡Felicidades por adquirir boleto(s) al evento <strong>{{ eventName }}</strong>!</p>
      <p>Fecha: {{ eventDate }}</p>
      <p>Lugar: {{ eventPlace }}</p>
      <div class="tickets">
        <h3>Boletos Comprados:</h3>
      </div>
    </div>
  </div>
</section>
